.box1 {
  border-radius: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);}
.box-container {
  margin-left: 5%;
}
.box {
  text-align: center;
  padding: 2%;
  margin-bottom: 1%;
  width: 45%;
  height: 40px;
  background-color: #DA7E25;
  border-bottom: solid 5px #834C16;
  display: inline-block;
}

.dropdown {
  width: 100%;
  height: 40px;
}

.ticket-panel {
  border-radius: 0px;
  background-color:rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

a {
  color: #DA7E25;
}

select {
  color: black;
  margin-bottom: 10px;
}
footer {
  width: 100%;
  height: 40vh;
  background-color: #351506;
}
p {
  color: #CB7421;
}
.navbar {
  padding: 1em;
  background-color: #2F1B0C;
  border-radius: 0px;
  border: none;
  margin-bottom: 4em;
}

.behind-nav {
  height: 11vh;
  width: 100vw;
  background-color: #2F1B0C;
}

.marquee-panel {
  background-color:rgba(0, 0, 0, 0.5);
  width: 90%;
  margin-left: 40px;
}

.marquee {
  width: 90%;
}

.map {
  width: 100%;
  background-image: url("../img/map.png");
  background-size: cover;
}

.map:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.posters {
  width: 30%;
}

.movies {
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  padding-bottom: 40px;
}

.titles {
  font-size: 24px;
  font-family: 'Arimo', sans-serif;
  margin-bottom: 20px;
}

.movie-info {
  font-size: 17px;
  font-family: 'Arvo', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.trailer {
  margin-bottom: 20px;
  text-align: center;
  padding: 7px;
}

.trailer-text {
  font-family: 'Arvo', serif;
  font-size: 19px;
  margin: auto;
}

.top-movie {
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
